html {
  scroll-behavior: smooth;
}

body {
  color: rgb(49, 55, 55);
  background-color: #acd7f7;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-block: 10px;
}
#About {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.title {
  font-family: fantasy;
  font-size: 70px;
  font-weight: 900;
  color: rgb(75 106 125);
  text-align: center;
  margin-top: 20px;
}

#Experience ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
#Connect ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  justify-content: center;
}

a:hover {
  color: rgb(156, 79, 216);
  text-decoration: underline;
}
a:visited {
  color: rgb(214, 0, 0);
}

#Connect a:hover {
  color: rgb(10, 247, 30);
  text-decoration: underline;
}
#Connect :visited {
  color: rgb(141, 11, 11);
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job {
  background-color: #ffffff20;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff40;
}

.job-title {
  margin: 0;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.job-dates {
  font-size: 0.9rem;
  opacity: 0.8;
}
footer {
  margin-top: 40px;
  padding: 20px 0;
  text-align: center;
  font-size: 0.9rem;
  color: #d10e9a;
  border-top: 1px solid #ddd;
}
#Skills {
  margin-top: 40px;
}

#Skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

#Skills li {
  background: #020202;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 0.95rem;
  color: #b11919;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}

#Skills li:hover {
  background: #dff0ff;
  transform: translateY(-2px);
}
